.post-container{
    background: white;
    padding: 2% 10%;
    margin-top: 20px;
}
.post-container .exit{
    text-align: end;
    color: red;
    font-size: 2rem;
    cursor: pointer;
    margin: 0;
}
.post-container p{
    margin: 30px;
}
.post-container .image-container{
    width:40%;
    height: 300px;
    margin: 0px auto 20px;
}
.post-container .image-container img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}


@media screen and (max-width:650px) {
    .post-container{
        padding: 3px 12px 10px;
    }
    .post-container h1{
        font-size: 1.5rem;
    }
    .post-container p{
        margin: 10px;
    }
    .post-container .image-container{
        width: 90%;
        height: 200px;
    }
}