.post-container{
    background: white;
    padding: 3px 15px;
    margin-top: 20px;
}
.post-container .exit{
    text-align: end;
    color: red;
    font-size: 2rem;
    cursor: pointer;
    margin: 0;
}
.post-container p{
    margin:0 20px;
}

@media screen and (max-width:650px) {
    .post-container{
        padding: 3px 12px;
    }
    .post-container h1{
        font-size: 1.5rem;
    }
    .post-container p{
        margin: 0 10px 10px;
    }
}