.inner-container{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIs2lNYnj5K9kNvxzE5GzuCXFDb15sX1koOw&usqp=CAU");
}
.home-container h1 {
  text-align: start !important;
  /* line-height: .8; */
  font-family: "Courier New", Courier, monospace !important;
  /* padding: 5px; */
}
.home-container .inner-container {
  background-color: white;
  margin-top: -10px;
  margin-bottom: 30px;
  box-shadow: 0 0 10px gray;
  padding: 5px 3%;
  text-align: start !important;
}
.inner-container .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home-container h2{
  margin-bottom: 10px;
}
span.addDate{
  color: rgb(150, 150, 150);
  font-size: .8rem;
  margin-left: 10px;
  line-height: 0;
}
.inner-container .posts{
  margin: 30px auto;
}
.inner-container .top button {
  /* background: rgb(255, 42, 85); */
  background-color: rgb(255, 51, 92);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
}
.inner-container .top button:hover {
  box-shadow: 0 0 5px gray;
  background: crimson;
}
.posts .post {
  border: 1px solid #ddd;
  background-color: white;
  padding: 5px 10px;
  border-radius: 7px;
  margin-bottom: 10px;
  display: flex;
  column-gap: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1.5px gray;
}
.posts .post .image-container{
  /* border: 1px solid; */
  /* background-color: #ddd; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
}
.posts .post .image-container img{
  width: 65%;
  border-radius: 10px;
}

.posts .post .post-detail{
  width: 75%;
  height: 100%;
}
.posts .post:hover {
  box-shadow: 0 0 3px gray;
}
.post-details {
  display: flex;
  justify-content: space-between;
}
.post-details span {
  margin-right: 20px;
}
h1{
  color: var(--heading-color);
}
@media screen and (max-width: 400px) {
  .inner-container .top {
    /* display: block; */
    flex-direction: column;
    align-items: flex-start;
  }
  .inner-container .top div:nth-child(2){
    order: -1;
    align-self: flex-end;
  }
  h1 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 650px) {

  h1 {
    font-size: 1.9rem;
  }
  h2 {
    font-size: 1.3rem !important;
  }
  .inner-container .top button {
    padding: 7px;
    background: crimson;
  }
  .post-details {
    display: block;
  }
  .post-details span {
    margin-right: 30px;
  }
  .post-details .span2 {
    margin-right: 5px;
  }
  .post-details p:nth-child(2) {
    text-align: end;
  }
  .posts .post .image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .posts .post{
    display: block;
  }
  .posts .post .image-container{
    width: 70%;
  }
  .posts .post .image-container img{
    width: 100%;
    /* margin: 20px auto; */
  }
  
  .posts .post .post-detail{
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
  .inner-container .top {
    /* display: block; */
    flex-direction: column;
    align-items: flex-start;
  }
  .inner-container .top div:nth-child(2){
    order: -1;
    align-self: flex-end;
  }
  h1 {
    font-size: 1.5rem;
  }
}
