.about-container{
    background: white;
    margin-top: 20px;
    padding: 20px 100px;
    background-image: url("../../../public/lightbg.png");
}

.about-container li{
    list-style-type: disc !important;
}

@media screen and (max-width:650px) {
    .about-container{
        font-size: .9rem;
        padding:20px 10px;
    margin: 20px 0 40px;

    }
}
h1{
    font-family: "Courier New", Courier, monospace !important;
}