.about-container{
    background: white;
    margin-top: 20px;
    padding: 0 100px;
}

.about-container li{
    list-style-type: disc !important;
}

@media screen and (max-width:650px) {
    .about-container{
        font-size: .9rem;
        padding: 0 10px;
    }
}