nav{
    background: #1B2430;
    color: white;
}

nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    padding: 0 20px;
}
.logo a{
    text-decoration: none;
    color: white;
}
.logo h2{
    font-family: cursive;
}
nav .container ul{
    display: flex;
    column-gap: 30px;
    justify-content: space-around;
    align-items: center;
} 
ul li{
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 3px;
}
ul li img{
    border-radius:100px;
    cursor: pointer;
}
.nav-container{
    position: relative;
}
.nav-container .options{
    position: absolute;
    right: 5px;
    background: #1B2430;
    /* top: 75px; */
    margin-top: 2px;
    border-radius: 5px;
    color: white;
    z-index: 5;
}
.options ul {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* row-gap: 10px; */
    align-items: center;
}
.options ul hr{
    width: 100%;
}
.liStyle{
    border-bottom: 2px solid;
    /* border-radius: 30px; */
    color: wheat;
}

ul li a{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
}
.logout{
    cursor: pointer;
}
.toggle{
    display: none;
}

.toggle a{
    color: white;
    text-decoration: none;
}
.loader{
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    visibility: hidden;
}
.loader div{
    background: black;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

}
.loader div img{
    border-radius: 100%;
}
.sidebar{
    height: 0;
    border: 1px solid transparent !important;
}
.sidebar ul{
    margin: 0 auto;
}
.sidebar li{
    margin: 5px auto;

}
.display{
    animation: slideD .2s   1 forwards ease-in-out;
}
@keyframes slideD {
    0%{height: 0;}
    100%{height: 180px;}
}
.hide{
    animation: slideU .2s   1 forwards ease-in-out;
}
@keyframes slideU {
    0%{height: 180px;}
    100%{height: 0;}
}
@media screen and (max-width:650px){
    .logo h2{
        font-size: 1.3rem;
        line-height: .9;
    }
    nav .container{
        padding: 0 13px;
    }
    .toggle{
        display: block;
    }
    nav .container ul{
        display: none;
    }
}