.footer-container{
    text-align: center;
    background-color: darkslategrey;
    color: white;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-container .footer p{
    padding: 5px;
}

@media screen and (max-width:650px) {
     .footer-container .footer p{
         font-size: .8rem;
         padding: 3px;
     }
}
