.news-container h1{ 
    margin-left: 10px;
    line-height: .7;
}

.news-container .all-news{
    background: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.all-news .news{
    /* background: #ddd; */
    border: 1px solid #ddd;
    width: 25%;
    height: 340px;
    box-shadow: 0 0 5px #ddd;
    border-radius: 4px;
    /* border-bottom:5px darkslategray solid; */
}

.news img{
    width: 100%;
    height: 160px;
    border-radius: 4px 4px 0 0 ;
}
.news .details{
    padding: 0 5px;
}
.news h2{
    /* line-height: .; */
    font-size: 1.2rem;
}
.news p{
    font-size: .8rem;
    color: gray;
}

.news button{
    width: 70px;
    background-color: darkslategrey;
    color: white;
    padding: 4px 4px;
    border-radius: 3px;
    border: none;
}

@media screen and (max-width:550px) {
    .news-container .all-news{
        /* display: block; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
    }
    .all-news .news {
        width: 95%;
        margin-top: 20px;
        height: 360px;
    }
    .news img{
    height: 150px;
    }
    .news button{
        display: block;
        margin: 0 auto;
    }
}

@media screen and (min-width:550px) and (max-width:1050px) {
    .news-container .all-news{
        justify-content: space-between;
    } 
    .all-news .news{
        width: 32%;
        
    }
    .news img{
        height: 150px;

    }
}