.news-container h1{ 
    margin-left: 10px;
    line-height: .7;
}
.news-container .inner-news-container{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIs2lNYnj5K9kNvxzE5GzuCXFDb15sX1koOw&usqp=CAU");
    padding: 5px 0;
    margin: 30px 0;

}
.news-container .all-news{
    /* background: white; */
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
}
.all-news .news{
    /* background: #ddd; */
    border: 1px solid #ddd;
    width: 23%;
    height: 340px;
    box-shadow: 0 0 5px #ddd;
    border-radius: 4px;
    background: white;
}

.news img{
    width: 100%;
    height: 160px;
    border-radius: 4px 4px 0 0 ;
}
.news .details{
    padding: 0 5px;
}
.news h2{
    line-height: 1;
    font-size: 1.2rem;
    margin: 5px 0 !important;
}
.news p{
    font-size: .8rem;
    color: gray;
}

.news button{
    width: 70px;
    background-color: var(--dark-color);
    color: white;
    padding: 4px 4px;
    border-radius: 3px;
    border: none;
}
.news  a{
    text-decoration: none;
}

.news .link{
    padding:0 20px 0 5px;
}

@media screen and (max-width:511px) {
    .news-container h1{
        text-align: center !important;
    }
    .news-container .all-news{
        /* display: block; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
    }
    .all-news .news {
        width: 95%;
        margin-top: 20px;
        height: 360px;
    }
    .news img{
    height: 150px;
    }
    .news button{
        display: block;
        margin: 0 auto;
    }
}

@media screen and (min-width:511px) and (max-width:670px) {
    .news-container .all-news{
        justify-content: space-around;
    } 
    .all-news .news{
        width: 48% !important;
        height:380px
    }
    .news img{
        height: 150px;
        
    }
}
@media screen and (min-width:670px) and (max-width:840px) {
    .news-container .all-news{
        justify-content: space-around;
    } 
    .all-news .news{
        width: 44% !important;
        height:350px
    }
    .news img{
        height: 150px;

    }
}
    @media screen and (min-width:840px) and (max-width:1100px) {
        .news-container .all-news{
            justify-content: space-between;
        } 
        .all-news .news{
            width: 32% !important;
            height:370px
        }
        .news img{
            height: 150px;
    
        }
    }