.compose-container{
    background: white;
    margin: 20px 0;
    padding: 8px 0;
    

}
.compose h1{
    line-height: .5;
}
.compose-container .compose{
    width: 70%;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* text-align: center; */
    margin: 30px auto 20px;
    padding: 20px 30px;
    
}

.title-container,.image-container{
    margin: 30px auto;
}
.content-container,.button-container{
    margin: 15px auto 0;
}
.button-container button{
    padding: 8px 12px;
    background-color: orange;
    font-size: 14px;
    border: none;
    margin-right: 10px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
}
.compose input,.compose textarea{
    border: 1px solid #ddd;
    margin-top: 5px;
}
.compose textarea::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .compose textarea {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
textarea{
    resize: none;
}

@media screen and (max-width:650px) {
    .compose-container .compose{
        width: 83%;
        padding: 10px;
    }
}