:root{
    /* --darkColor : darkslategrey; */
    --borderColor:#ddd;
    --lightColor:white;
    
}

html,body{
    margin: 0;
    padding: 0;
    font-family: system-ui;
    background: gainsboro;
}

.container .inner-container{
    border: none;
    border-top: 5px solid var(--dark-color);
    width: 30%;
    margin: 20px auto;
    background: var(--lightColor);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.inner-container .heading h1{
    font-weight: 500;
    text-align: center;
    line-height: 1;
    font-family: cursive,sans-serif;
    margin-bottom: 30px;
}

.form-element{
    width: 85%;
    margin: 10px auto;
}

.form-element .inner-element{
    display: flex;
    border: 1px solid var(--borderColor);
    margin-bottom: 20px;
    position: relative;
}

.inner-element select {
    padding-left: 10px;
    outline: none;
    /* margin-top:2%; */
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
}

.loading-gif{
    margin-top: 30px;
}
 .icon {
    border-right:1px solid var(--borderColor) ;
    padding: 6px 5px;
}
.icon-right{
    border-left:1px solid var(--borderColor) ;
    padding: 6px 5px;
    position: absolute;
    right: 0;
}
.input,textarea{
    width: 100%;
    /* border: 1px solid; */
}
.input input,textarea{
    border: none;
    width: 97%;
    background: var(--lightColor);
    padding: 7px 10px;
    font-size: 12px;
    padding-top: 10px;
    padding-right: 0;
    outline: none;
}

.err{
    color: red;
    font-size: 13px;
}

.form-element .name{
    display: flex;
    width: 100%;
    position: relative;
    margin: 0 0 20px;
    /* margin-top: 50px; */
}

.fName,.lName{
    display: flex;
    width: 45%;
    border: 1px solid var(--borderColor);
    z-index: 5;

}

.fName input ,.lName input{
    width:85%;
    /* border: 1px solid; */
    background: transparent;
}

.lName{
    margin-left: 10px;
    position: absolute;
    right: 0;
}

.gender{
    display: flex;
    margin:20px 0 ;

}

.gender div{
    /* margin: 0 10px; */
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.female{
    margin-left: 10px;
}

.checkbox input{
    font-size: 15px
}

.button button{
    width: 100%;
    background: var(--dark-color);
    color: var(--lightColor);
    font-size: 13px;
    padding: 7px 5px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    outline: none;
}

textarea{
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 4px;
}
.form-element .name{
        display: block;
    }
    .fName, .lName{
        margin-top: 20px;
        width: 100%;
    }
    .input,textarea {
        width: 100%;
        /* border: 1px solid; */

    }
    .input input,textarea{
        width: 95%;

    }
    .fName{
        margin-top: 0;
    }
    .fName input ,.lName input{
        /* border: 1px solid; */
        background: transparent;
    }
    
    .lName{
        margin-left: unset;
        position: unset;
        /* right: 0; */
        right: unset;
    }
@media screen and (min-width:600px) and (max-width:1200px) {
    .container .inner-container{
        width: 40%;
    }
}

@media screen and (max-width:600px) {
    .container .inner-container{
        width: 95%;
    }
.inner-container .heading h1{
    line-height: 0;
}
    

}
